/.vs
bin
obj
*.user
project.lock.json
packages
/templates/TestUI/Image
/templates/TestUI/Font
/templates/UniversalAppTemplate/Font
/templates/UniversalAppTemplate/Image
*.DotSettings
/*.DotSettings
