<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="AndroidTemplate" android:versionCode="1" android:versionName="1.0">
	<uses-sdk android:targetSdkVersion="27" />
	<application android:label="AndroidTemplate" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></application>
</manifest>