<?xml version="1.0"?>
<configuration>
    <dllmap os="windows" dll="csfml-system-2" target="csfml-system-2.dll"/>
    <dllmap os="windows" dll="csfml-graphics-2" target="csfml-graphics-2.dll"/>
    <dllmap os="windows" dll="csfml-window-2" target="csfml-window-2.dll"/>
    <dllmap os="windows" dll="csfml-audio-2" target="csfml-audio-2.dll"/>
    <dllmap os="linux" dll="csfml-system-2" target="libcsfml-system.so.2.2"/>
    <dllmap os="linux" dll="csfml-graphics-2" target="libcsfml-graphics.so.2.2"/>
    <dllmap os="linux" dll="csfml-window-2" target="libcsfml-window.so.2.2"/>
    <dllmap os="linux" dll="csfml-audio-2" target="libcsfml-audio.so.2.2"/>
</configuration>
